{% extends 'main/base.html' %}

{% block title %}Admin Statistics{% endblock %}

{% block content %}
<section class="admin-statistics-section">
    <div class="container">
        <h1 class="section-title">Статистика Адміна</h1>
        <div class="stats-grid">
            <div class="stat-card">
                <h2>Всього фільмів</h2>
                <p>{{ total_movies }}</p>
            </div>
            <div class="stat-card">
                <h2>Загальні сеанси</h2>
                <p>{{ total_schedules }}</p>
            </div>
            <div class="stat-card">
                <h2>Всього куплених квитків</h2>
                <p>{{ total_purchased_seats }}</p>
            </div>
            <div class="stat-card">
                <h2>Загальний дохід</h2>
                <p>{{ total_revenue|floatformat:"2" }} UAH</p>
            </div>
            <div class="stat-card">
                <h2>Найпопулярніший фільм</h2>
                <p>{% if popular_movie %}{{ popular_movie.title }} ({{ popular_movie.num_purchased_seats }} місць){% else %}N/A{% endif %}</p>
            </div>
            <div class="stat-card">
                <h2>Всього зареєстрованих користувачів</h2>
                <p>{{ total_registered_users }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %} 