{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Галерея Фільмів
{% endblock %}

{% block content %}
<div class="container movie-gallery-container">
    <h1 class="my-4 text-center">Фільми в Галактиці</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for movie in movies %}
        <div class="col mb-4">
            <div class="card h-100 movie-card" data-movie-id="{{ movie.id }}">
                {% if movie.poster %}
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
                {% else %}
                <img src="{% static 'main/images/no_poster.jpg' %}" class="card-img-top" alt="No Poster Available">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center">{{ movie.title }}</h5>
                    {% if movie.average_rating %}
                        <p class="card-text text-center">Рейтинг: {{ movie.average_rating|floatformat:0 }}/5 <i class="fas fa-star" style="color: gold;"></i></p>
                    {% else %}
                        <p class="card-text text-center">Немає оцінок</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Немає доступних фільмів.</p>
        {% endfor %}
    </div>
</div>

<!-- Floating window for movie details -->
<div id="movieDetailModal" class="modal fade" tabindex="-1" aria-labelledby="movieDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movieDetailModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img id="modalMoviePoster" src="" class="img-fluid rounded" alt="Movie Poster">
                    </div>
                    <div class="col-md-8">
                        <div id="modalMovieTrailer" class="mb-3"></div>
                        <p><strong>Опис:</strong> <span id="modalMovieDescription"></span></p>
                        <p><strong>Віковий рейтинг:</strong> <span id="modalMovieAgeRating"></span></p>
                        <p><strong>Формат:</strong> <span id="modalMovieFormat"></span></p>
                        <p><strong>Тривалість:</strong> <span id="modalMovieDuration"></span> хвилин</p>
                        <p><strong>Жанри:</strong> <span id="modalMovieGenres"></span></p>
                        <p><strong>У головних ролях:</strong> <span id="modalMovieActors"></span></p>
                        <p><strong>Виробництво:</strong> <span id="modalMoviePublisher"></span></p>
                        <p><strong>Статус:</strong> <span id="modalMovieStatus"></span></p>
                        <p><strong>Середня оцінка:</strong> <span id="modalMovieAverageRating"></span>/5 <i class="fas fa-star" style="color: gold;"></i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="buyTicketButton" href="#" class="buy-ticket-button">Купити квиток</a>
                <button type="button" class="btn btn-secondary close-modal-button" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}{% endblock %} 