{% extends 'main/base.html' %}

{% block title %}Ціни{% endblock %}

{% block content %}
<section class="prices-section">
    <h1>Ціни на квитки</h1>
    <div class="prices-container">
        <div class="price-item">
            <h2>Стандартний квиток</h2>
            <p class="price">200 UAH</p>
            <p class="description">Дійсний для всіх звичайних 2D та 3D сеансів.</p>
        </div>
        <div class="price-item">
            <h2>VIP квиток</h2>
            <p class="price">350 UAH</p>
            <p class="description">Включає доступ до VIP-зони та комфортні місця.</p>
        </div>
    </div>
    <p class="note">Ціни можуть змінюватися для спеціальних подій та преміум-сеансів.</p>
    
    <div class="prices-note-block">
        <h2 class="section-title">Зверніть увагу</h2>
        <ul>
            <li>Адміністрація кінотеатру залишає за собою право вносити зміни до розкладу сеансів без попереднього повідомлення.</li>
            <li>Деякі фільми можуть мати вікові обмеження, будь ласка, звертайте увагу на них перед покупкою квитків.</li>
            <li>Квитки, придбані онлайн, не підлягають обміну або поверненню, окрім випадків скасування сеансу або інших обставин, передбачених правилами кінотеатру.</li>
            <li>При відвідуванні сеансів у форматі 3D використання спеціальних 3D-окулярів є обов'язковим. Окуляри можна придбати у касі кінотеатру.</li>
            <li>Забороняється приносити в зал власні їжу та напої. На території кінотеатру працює бар з широким асортиментом закусок та напоїв.</li>
            <li>Будь ласка, зберігайте чистоту та порядок у залах кінотеатру. Дотримуйтесь правил поведінки та поважайте інших глядачів.</li>
            <li>У випадку повітряної тривоги сеанс буде призупинено, а глядачів буде запрошено до найближчого укриття. Інформація про подальші дії буде оголошена адміністрацією.</li>
        </ul>
    </div>
</section>
{% endblock %} 